* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header-wrap {
    width: 1170px;
    height: 70px;
    border-bottom: 1px solid grey;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 20px;
    img {
        height: 140px;
        width: 500px;
    }
}

img {
    width: 600px;
    height: 400px;
}

.link-wrap {
    display: flex;
    justify-content: center;
    .link {
        text-decoration: none;
        margin-right: 20px;
        font-size: 18px;
        color: black;
        padding: 10px 40px;
        margin-top: 10px;

        &:hover {
            border: 1px solid black;
            box-shadow: 5px 5px rgb(207, 206, 206);
        }
    }
}

li {
    list-style: none;
}

.name-rewiew {
    font-weight: 700;
    margin-bottom: 10px;
}

.text-rewiew {
    font-size: 14px;
}

.custom-textarea {
    width: 300px;
}

.post-page {
    display: flex;
    flex-direction: column;
    .post-content {
        font-size: 18px;
    }
}

.like-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
